body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.imageThumbnail {
    height: 200px;
    width: auto;
}

.blackBack{
    background-color: black;
}

.butt {
    border-color: white;
    color: white;
}
/* MESSAGES | CHAT STYLING */
.mainMsgContainer {
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
}

.chatMessage {
    display: flex;
    flex-direction: column;
    border: red solid 1px;
    padding: 0 5px 0 5px;
    margin: 3px 0 3px 0;
    border-radius: 15px;
}

.currentUserMessage {
    align-items: flex-end;
    border: black dotted 2px;
    background-color: gray;
}

                            /* SNEAKERS INDEX STYLING */
.indexHeader{
    display:flex;
    justify-content: center;
    margin-top: 10%;
}
.mainSnkrIndex {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.shoeCard {
    align-content: center;
}

/*change hyperlink's color*/
/*a { 
    color: yellow;
}*/

/*.searchContainer{
    margin: 0 25% 0 25%;
}*/

.cardLink {
    color: darkblue;
}
                        /* CONVERSATIONS STYLING */
.convoHeader {
    margin-left: 40%;
}

.listConversations {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content:space-around;
}

.sellerCurrUserContainer {
    flex-direction: column;
    margin-bottom: 10%;
}

.seller{
    flex-direction:column;
}

.buyer{
    flex-direction: column;
}

                            /* MY PROFILE STYLING */
.profile{
    display:flex;
    flex-flow: wrap;
    justify-content: space-between;
    justify-content: center;
}

.userRating{
    margin-top: 3%;
}

.profileHeader{
    display:flex;
    justify-content:center;
}

                /* OTHER'S PROFILE STYLING */
.userProfileHeader{
    margin-left: 40%;
}
                /* MY SNEAKERS STYLING */

.mykicksContainer{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}